<html>
    <body>
        <div>
            <h1>
                This is a test!

            </h1>
            <% for (var i = 0; i < 10; i++){%>
            <div>Loop test <%= i%></div>
            <%}%>
        </div>
    </body>
</html>