<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/site.css">
</head>
    <body>
      <header>
        <img src="http://www.catalystgamelabs.com/images/SR_logo_ongreen.gif?053ad1"/>
      </header>
        <div class="allRun">
          <p>
            The runners go to a meet <span class="runComponent" id="location"></span> for their next job. They are hired by <span class="runComponent" id="employers"></span> for <span id="jobType" class="runComponent"></span>
            job, targeting <span class="runComponent" id="macguffin"></span>. The run gets complicated when <span class="runComponent" id="twists"></span>.
          </p>
          <input type="button" id="genBtn" value="Generate">
        </div>

        <!--I moved your javascript code to the rungenerator.js file -Chapeau -->
        <script type="text/javascript" src="../js/rungenerator.js"></script>
    </body>
</html>
