<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/site.css">
</head>
    <body>
      <header>
        <img src="http://www.catalystgamelabs.com/images/SR_logo_ongreen.gif?053ad1"/>
      </header>
        <div class="allRun">
          <h1>The run so far...</h1>
          <p>
            The runners go to a meet <span class="runComponent" id="location"></span> for their next job. They are hired by <span class="runComponent" id="employers"></span> for <span id="jobType" class="runComponent"></span>
            job, targeting <span class="runComponent" id="macguffin"></span>. The run gets complicated when <span class="runComponent" id="twists"></span>.
          </p>
          <input type="button" id="genBtn" value="Generate">
        </div>
        <div class="optionCard">
          <h2>The location...</h2>
            <p id="location"></p>
            <input type="button" id="chgLocation" value="Change">
          </div>
        <div class="optionCard">
          <h2>The employer...</h2>
            <input type="button" id="chgEmployer" value="Change">
        </div>
        <div class="optionCard">
          <h2>The job...</h2>
            <input type="button" id="chgJob" value="Change">
        </div>
        <div class="optionCard">
          <h2>The macguffin...</h2>
            <input type="button" id="chgMcguffin" value="Change">
        </div>
        <div class="optionCard">
          <h2>The twist...</h2>
            <input type="button" id="chgTwist" value="Change">
        </div>

        <!--I moved your javascript code to the rungenerator.js file -Chapeau -->
        <script type="text/javascript" src="../js/rungenerator.js"></script>
    </body>
</html>
