body {
  background-color: rgb(196, 196, 196);
  font-family: Impact, Charcoal, sans-serif;
  margin: 0 0 0 0;
}

header{
  background-color: #595959;
  width: 100%;
  margin: 0, 0, 0, 0;
  box-shadow: 2px 2px 4px #000000;
}
nav{
  background-color: #e7be0d;
  height: 50px;
  margin: 0 0 0 0;
  box-shadow: 2px 2px 4px #000000;
}
button{
  background-image: url(/../images/dicebtn.svg);
  width: 40px;
  height: 40px;
  border: none;
  box-shadow: 2px 2px 4px #000000;
  transition: box-shadow 0.2s;
  cursor: pointer;
}
button:hover{
  box-shadow: 4px 4px 8px #000000;
}
button:focus{
  outline: 0;
}
footer{
  width: 100%;
  clear: both;
}
.menuCard{
  margin: 1%;
  padding: 15px;
  background-color: #3B3B3B;
  box-shadow: 2px 2px 4px #000000;
  width: 80px;
  transition: box-shadow 0.2s;
  height: 10%;
  overflow: hidden;;
  float: left;
  cursor: pointer;
  position: relative;
}
.cardContainer{
  width: 100%;
}
.headLogo{
  height: 100px;
  padding: 1% 0 1% 1%;
}
.srLogo{
  height:10%;
  width: 10%;
}
.runComponent {
  background-color : #C48686;
  transition: background-color 0.2s;
}

.runComponent:hover{
background-color : #B53131;
}

.allRun {
  padding: 2% 2% 1% 2%;
  margin: 2% 1% 0 1%;
  background-color: #3B3B3B;
  box-shadow: 2px 2px 4px #000000;
}
.allRun h1{
  margin-left: 0;
  padding-left: 0;
}
.allRun p{
  padding: 2% 5% 2% 2%;
  background-color: #919191;
  box-shadow: 2px 2px 4px #000000;
  overflow: hidden;
  height: 3%;
}
.allRun h1{
  padding-left: 2%;
  color: rgb(235, 198, 46);
  text-shadow: 2px 2px 4px #000000;
  margin: 0 0 0 0;
}


.optionCard{
  margin: 1%;
  padding: 15px;
  background-color: #3B3B3B;
  box-shadow: 2px 2px 4px #000000;
  width: 150px;
  transition: box-shadow 0.2s;
  height: 10%;
  overflow: hidden;;
  float: left;
  cursor: pointer;
  position: relative;
}
.optionCard p{
  padding: 2% 5% 2% 2%;
  background-color: #919191;
  box-shadow: 2px 2px 4px #000000;
  overflow: hidden;
  height: 40%;
}

.optionCard:hover{
  box-shadow: 4px 4px 8px #000000;
  transition: background-color 0.08s;
}
.optionCard:active{
  background-color: #878787;
}
.optionCard h2{
  margin-top: 5px;
  color: rgb(235, 198, 46);
  text-shadow: 2px 2px 4px #000000;
}
